body {
  margin: auto;
  max-width: 800px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
}
code {
  font-size: 1.1em;
}
input {
  font-family: var(--bs-font-monospace);
}
.w-sm-input {
  width: 47%;
}
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spinner[type="number"] {
  appearance: textfield;
}
.text-sm {
  font-size: 0.9em;
}
